.pogfp { 
  border-right-width: 4px;
  border-top-width: 61px;
  padding-top: 32px;
  border-top-width: 18px;
  margin-top: 2px;
  margin-bottom: 77px;
  border-top-width: 53px;
  line-height: 33px;
  padding-left: 6px;
  padding-left: 20px;
}
