.pogfp { 
  border-right-width: 4px;
  border-top-width: 61px;
  padding-top: 32px;
  border-top-width: 18px;
  margin-top: 2px;
  margin-bottom: 77px;
  border-top-width: 53px;
  line-height: 33px;
  padding-left: 6px;
  line-height: 83px;
  padding-left: 96px;
  font-size: 19px;
  padding-bottom: 54px;
  margin-left: 64px;
  padding-right: 7px;
  padding-right: 97px;
  margin-bottom: 97px;
  border-left-width: 65px;
  margin-left: 21px;
  border-left-width: 56px;
  border-right-width: 89px;
  border-right-width: 51px;
  line-height: 39px;
}
